.details {
    display: flex;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
}

.dog-item {
    font-size: 20px;
    text-transform: capitalize;
}

.title-item {
    font-weight: bold;
}